*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
section{
    position: relative;
    height: 100vh;
    width: 100%;

    background-size: cover;
    background-position: center center;
}
.form-container{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    width: 380px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow:  7px 7px 60px #000;
  
    background-color: rgb(253, 68, 68);
}
h1{
    text-transform: uppercase;
    font-size:  2em;
    text-align: center;
    margin-bottom: 2em;

}
body{
 background: url("https://i.pinimg.com/564x/25/a4/10/25a41000186cfd0a35435028a44daccc.jpg");
    color: black
}
.control input{
  width: 100%;
  display:  block;
  padding:  10px;
  color: #222;
  border:  none;
  outline:  none;
  margin: 1em 0;
}
.controls input{
    width: 100%;
    display:  block;
    padding:  10px;
    color: #222;
    border:  none;
    outline:  none;
    margin: 1em 0;
  }
.control input[type ="submit"]{
  background: red;
   color: #fff;
   text-transform: uppercase;
   font-size: 1.2em;
   opacity: .8;
}